@font-face{
  font-family: Bebas Neue;
  src: url(BebasNeue-Regular.woff);
}

body{
  margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;

}

.oculto{
    display: none;
}


/* Primera pantalla */ 

#splash{
  height:851px;
  width:393px;
    position: relative;
    background: rgb(142,50,145);
}

#parent_splash{
    position: relative;
    height:851px;
  width:393px;
}


/* Segunda pantalla */ 




#parent_inicio{
    position: relative;
  }

#fondo_inicio{
    width: 393px;
    height: 851px;
    background:#7C2C8A;
}

#jugar_jugar{
    width: 265.37px;
    height: 99.51px;
    position: absolute;
    top:331.72px;
    left:69.66px;
}


#instrucciones_inicio{
    width: 242.15px;
    height: 49.75px;
    position: absolute;
    top:597.09px;
    left:76.29px;
}

#creditos_inicio{
    width: 232.20px;
    height: 49.75px;
    position: absolute;
    top:696.61px;
    left:86.24px;
    text-align: center;
}



/* Tercera pantalla */ 


#parent_juego{
    position: relative;
}

#fondo_juego{

    width: 393px;
    height: 851px;
    background: #7C2C8A;
}

#ventana_transparencia{
    width: 393px;
    height: 950px;
    background: black;
    opacity: 0.3;
    position: relative;
    bottom: 950px;
}

#back_juego{
    width: 66.34px;
    height: 66.34px;
    position: absolute;
    top:33.17px;
    left:26.54px;
}

#puntaje{
  width: 140px;
  height: 33.17px;
  color: white;
  position: absolute;
  top:39.80px;
  left:122px;
  text-align: center;
  font-size: 39.80px;
  font-family: Bebas Neue;
}

#pausa{
    width:66.34px;
    height:66.34px;
    position: absolute;
    top:33.17px;
    left:291.91px;
    text-align: center;
}

#fondo_menu{
  width: 393px;
  height: 165.86px;
  background: brown;
  position: relative;
  bottom: 1480px;
}

#pregunta_salir{
    font-size: 26.53px;
    font-family: Bebas Neue;
    position: relative;
    top: 20px;
    left: 79.61px;
    color: white;
}

.boton{
  width: 142.68px;
  height: 49.75px;
  border-radius: 9.95px;
  font-size: 23.22px;
  font-family: Bebas Neue;
  position: relative;
}

#aceptar{
  background:green;
  left: -200.03px;
  top: 100px;
  color: white;
}

#texto_continuar{
  background:red;
  left: -200.03px;
  top: 185.86px;
  color: white;
}

#fondo_pausa{
  width: 393px;
  height: 165.86px;
  background: brown;
  position: relative;
  bottom: 1480px;
}

#cancelar{
  background: red;
  left: 215.57px;
  top: 50px;
  color: white;
}

#texto_continuar{
  background: green;
  left: 115px;
  top: 55px;
  width: 170px;
  height: 60px;
  font-size: 30px;
  color: white;
}

#fondo_incorrecta{
  width: 393px;
  height: 165.86px;
  background: brown;
  position: relative;
  bottom: 1480px;
}

#perdio{
  font-size: 29.85px;
  font-family: Bebas Neue;
  color: white;
  position: relative;
  left: 43.12px;
  top: 9.95px;
}

#tuPuntuacion{
  font-size: 23.22px;
  font-family: Bebas Neue;
  color: white;
  position: relative;
  left: -325.08px;
  top: 9.95px;
}

#texto_incorrecta{
  top: 72.97px;
  left: 114.72px;
}

#fondo_primeraIncorrecta{
  width: 393px;
  height: 165.86px;
  background: brown;
  position: relative;
  bottom: 1480px;

}

#perdio_primera{
  font-size: 29.85px;
  font-family: Bebas Neue;
  color: white;
  position: relative;
  left: 39.80px;
  top: 6.63px;
}

#primera_puntuacion{
  font-size: 33.17px;
  font-family: Bebas Neue;
  color: white;
  position: relative;
  left: 149.27px;
  top: -16.58px;
}

#texto_primeraIncorrecta{
  top: -39.80px;
  left: 129.37px;
}

#fondo_ganar{
  width: 393px;
  height: 165.86px;
  background: brown;
  position: relative;
  bottom: 1490px;
}

#gano{
  font-size: 36.48px;
  font-family: Bebas Neue;
  color: white;
  position: relative;
  left: 66.34px;
  top: 33.17px;
}

#texto_ganador{
  top: 50.56px;
  left: 129.37px;
}


.pregunta{
  color: white;
  position: relative;
  bottom: 597.09px;
  font-family: Bebas Neue;
  font-size: 29.85px;
}

#texto_pregunta1{
  font-size: 32px;
    position: relative;
  left: 30px;
    bottom: 630px;
     width: 350px;

}

#texto_pregunta2{
  font-size: 33.17px;
    position: relative;
  left: 36.49px;
    bottom: 600px;
     width: 350px;
}

#texto_pregunta3{
    text-align: center;
  font-size: 29.85px;
    width: 350px;
  left: 20px;
    bottom: 640px;
}

#texto_pregunta4{
  font-size: 33.17px;
  left: 43.12px;
     width: 350px;
    bottom: 620px;
}

#texto_pregunta5{
  font-size: 33.17px;
  left: 72.98px;
     width: 350px;
    bottom: 620px;
}

#texto_pregunta6{
    text-align: center;
  width: 350px;
  left: 20px;
    bottom: 650px;
}

#texto_pregunta7{
    width: 350px;
  font-size: 30px;
  left: 32.59px;
}

#texto_pregunta8{
    text-align: center;
    width: 350px;
  font-size: 33.17px;
  left: 16.59px;
    bottom: 640px;
}

#texto_pregunta9{
    width: 350px;
    text-align: center;
  font-size: 30.53px;
  left: 19.63px;
    bottom: 640px;
}

#texto_pregunta10{
  font-size: 29.85px;
  left: 16.59px;
    width: 350px;
    text-align: center;
    bottom: 640px;
}


.imagen_1{
    width: 149.27px;
    height: 149.27px;
    position: absolute;
    top:348.30px;
    left:36.48px;
    text-align: center;
}

.imagen_2{
    width: 149.27px;
    height: 149.27px;
    position: absolute;
    top:348.30px;
    left:218.93px;
    text-align: center;
}

.imagen_3{
    width: 149.27px;
    height: 149.27px;
    position: absolute;
    top:530.75px;
    left:36.48px;
    text-align: center;
}

.imagen_4{
    width: 149.27px;
    height: 149.27px;
    position: absolute;
    top:530.75px;
    left:218.93px;
    text-align: center;
}

#imagen_5{
    width: 132.68px;
    height: 132.68px;
}

#imagen_6{
    width: 132.68px;
    height: 132.68px;
}

#imagen_7{
    width: 132.68px;
    height: 132.68px;
}

#imagen_8{
    width: 132.68px;
    height: 132.68px;
}

#imagen_9{
    width: 116.10px;
    height: 116.10px;
    left: 49.75px;
}

#imagen_10{
    width: 116.10px;
    height: 116.10px;
    left: 232.20px;
}

#imagen_11{
    width: 116.10px;
    height: 116.10px;
    left: 49.75px;
}

#imagen_12{
    width: 116.10px;
    height: 116.10px;
    left: 232.20px;
}

#imagen_13{
    width: 116.10px;
    height: 116.10px;
    left: 49.75px;
}

#imagen_14{
    width: 116.10px;
    height: 116.10px;
    left: 232.20px;
}

#imagen_15{
    width: 116.10px;
    height: 116.10px;
    left: 49.75px;
}

#imagen_16{
    width: 116.10px;
    height: 116.10px;
    left: 232.20px;
}

#imagen_17{
    width: 116.10px;
    height:116.10px;
    left: 49.75px;
}

#imagen_18{
    width: 116.10px;
    height:116.10px;
    left: 232.20px;
}

#imagen_19{
    width: 116.10px;
    height: 116.10px;
    left: 49.75px;
}

#imagen_20{
    width: 116.10px;
    height: 116.10px;
    left: 232.20px;
}

#cronometro{
    width: 132.68px;
    height: 132.68px;
    position: absolute;
    top:696.61px;
    left:139.32px;
    text-align: center;
    font-family: Bebas Neue;
    color: #F9DA49;
}

#cuenta{
    font-family: Bebas Neue;
    font-size: 39.80px;
    position: relative;
    top:16.58px;
}



/* Cuarta pantalla */ 



#parent_instrucciones{
    position: relative;
}

#fondo_instrucciones{
    width: 393px;
    height: 851px;
    background: #7C2C8A;
}

#back_instrucciones{
    width: 66.34px;
    height: 66.34px;
    position: absolute;
    top:33.17px;
    left:33.17px;
    text-align: center;
}

#instrucciones_instrucciones{
  background: rgb(249, 218, 73);
  width: 199.03px;
  height: 33.17px;
  color: white;
  position: absolute;
  top:135.10px;
  left:97.83px;
  font-family: Bebas Neue;
  text-align: center;
  border-radius: 9.95px;
}

#texto_instrucciones{
    position: relative;
    top: 2.32px;
    color: rgb(221,68,69);
    font-size: 26.53px;
}

#texto_instrucciones_largo{
background: rgb(163,104,224);
  width: 320.72px;
  height: 398.06px;
  color: white;
  position: absolute;
  top:232.20px;
  left:28.48px;
  font-family: Bebas Neue;
  text-align: center;
    border-radius: 16.58px;
}

#texto_instrucciones_largo_largo{
    font-size: 36.48px;
    position: relative;
    top:29.85px;
}

#jugar_instrucciones{
    width: 165.86px;
    height: 66.34px;
    position: absolute;
    top:680.02px;
    left:116.10px;
    text-align: center;
}


/* Quinta pantalla */ 



#parent_creditos{
    position: relative;
}

#fondo_creditos{
    width: 393px;
    height: 851px;
    background:#7C2C8A;
}

#back_creditos{
    width: 66.34px;
    height: 66.34px;
    position: absolute;
    top:33.17px;
    left:33.17px;
    text-align: center;
}


#primera_persona{
    width: 149.27px;
    height: 149.27px;
    position: absolute;
    top:182.44px;
    left:16.58px;
}

#descripcion_primera{
  width: 165.86px;
  height: 132.68px;
  color: white;
  position: absolute;
  top: 182.44px;
  left: 199.03px;
  font-family: Bebas Neue;
  text-align: center;
}

#texto_descripcion_primera{
    font-size: 26.53px;
    position: relative;
    top: 6.63px;
}

#segunda_persona{
    width: 116.10px;
    height: 116.10px;
    position: absolute;
    top:364.89px;
    left:36.48px;
}

#descripcion_segunda{
  width: 165.86px;
  height: 132.68px;
  color: white;
  position: absolute;
  top: 374.84px;
  left: 199.03px;
  font-family: Bebas Neue;
  text-align: center;
}

#texto_descripcion_segunda{
    font-size: 26.53px;
    position: relative;
    top: 6.63px;
}

#tercera_persona{
    width: 116.10px;
    height: 116.10px;
    position: absolute;
    top:530.75px;
    left:36.48px;
}

#descripcion_tercera{
  width: 165.86px;
  height: 132.68px;
  color: white;
  position: absolute;
  top: 540.70px;
  left: 199.03px;
  font-family: Bebas Neue;
  text-align: center;
}

#texto_descripcion_tercera{
    font-size: 26.53px;
    position: relative;
    top: 6.63px;
}

#jugar_creditos{
    width: 165.86px;
    height: 66.34px;
    position: absolute;
    top:696.61px;
    left:116.10px;
    text-align: center;
}



/* Animate Css */




/*@charset "UTF-8";

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}